# Miscellaneous
/**/.vscode/
/**/__pycache__/
/**/.ipynb_checkpoints/

# Datasets and Tensorflow models
/DIC-C2DH-HeLa*/
/TFData/
/models/
/downloads/

# Checkpoint files
/**/helper

# Model predictions and what not
/Predictions/